.idea/
.vscode/
ansible/
src/evaluating_students/node_modules
src/guiding_students/node_modules
src/scheduling/node_modules
src/student_administration/node_modules
src/student_portal/node_modules
.travis.yml
Makefile
README.md
